* {
    padding:0;
    margin:0;
}

html, body {
    height:100%;
}

body {
    background:url('../images/bg_page.jpg') repeat-x center top;
}

body, textarea, input, select, td, div, p, label {
    font-size:12px;
    font-family:Arial, Tahoma, "宋体";
}

a {
    color:#19276B;
    text-decoration:none;
}

a:hover {
    color: #7598DC;
    text-decoration: none;
}

.clear {
    clear:both;
    height:0;
    width:0;
    overflow:hidden;
}

#LoginContainer {
    width:539px;
    height:289px;
    position:absolute;
    margin:-182px 0px 0px -265px;
    top:50%;
    left:50%;
    z-index:100;
}
.loginBgImage {
    float:left;
}
#LoginMain {
    float:left;
    width:501px;
    height:289px;
    background:url('../images/login_bg_center.gif') repeat-x center center;
    margin-bottom: 5px;
}
#LoginLogo {
    float:left;
    width:161px;
    text-align:right;
    height:289px;
    background:url('../images/login_separate_line.gif') no-repeat right center;
}
#LoginFormContainer {
    float:left;
    width:340px;
    height:289px;
}
#LoginForm {
    margin:60px 25px 0 0;
}
#LoginFormContainer p {
    margin:11px 0;
}
#LoginFormContainer p label {
    color:#668888;
    font-size:14px;
    font-wight:weight;
    line-height:24px;
    float:left;
    display:block;
    width:92px;
    text-align:right;
    padding-right:10px;
    padding-top:3px !important;
    padding-top:5px;
    
}
#LoginFormContainer .TxtInput {
    background:url('../images/login_input.gif') repeat-x;
    border:1px solid #BCBCBC;
    width:200px;
    height:30px;
    padding-left:5px;
    margin-top:0px;
    font-size:14px;
    font-weight:bold;
    line-height:30px;
    color:#41697E;
}
#LoginFormContainer .select {
    border:1px solid #BCBCBC;
    font-size:12px;
    line-height:14px;
    color:#454545;
    width:120px;
    height:24px;
    padding:3px;
    margin-top:0px;
    font-size:12px;
}
#LoginFormContainer .loginSubmit {
    float:right;
    margin-right:160px;
    background:url('../images/login_button.png') no-repeat center center;
    border:0;
    width:55px;
    height:25px;
    color:#FFFFFF;
    font-weight:bold;
}

#LoginFormContainer .loginSubmit:hover {
    cursor:pointer;
    color:#DDDDDD;
}

#LoginFormContainer #ActionMessage {
    clear:both;
    width: 280px;
    margin:40px 0 0 30px;
    padding:3px 0;
    text-align:center;
    border:1px solid #C7D5F1;
}

.GoodNews {
    background-color:#52E070;
}

.Warning {
    background-color:#FF5000;
}

.Error {
    background-color:#FFFF0F;
}

#ForRememberMe {
    padding-left:5px;
}

#ShadowCenter {
    float: left;
    background:url('../images/login_shadow.gif') repeat-x center center;
    width:501px;
    height:110px;
}
#Version {
	background:url('../images/login_logo.png') no-repeat left bottom;
    float:right;
    margin:85px 20px 0px 0px;
    width:130px;
    height:40px;
    font-size:11px;
    color:#41697E;
}


.loginbutton {
    border: 0px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 25px;
    background-color: #4FC1ED;
    padding: 4px 30px 4px 30px;
    cursor: pointer;
}